:root {
    --main-bg: rgb(46, 26, 90);
    --main-bg-hl: rgb(158, 81, 197);

    --iborder: rgba(166, 135, 232, .4);
    --iborder-active: rgba(166, 135, 232, .7);
    --ipt-c: rgb(116, 67, 161);
    --ipt-c-active: rgb(94, 52, 133);
    --ipt-bg: rgba(255, 255, 255);
    --ipt-bg-active: rgba(255, 255, 255);

    --ipt-ico-c: rgba(166, 135, 232, .6);
    --ipt-ico-c-active: rgba(166, 135, 232, 1);

    --btn-main-bg: rgba(166, 135, 232, .6);
    --btn-main-bg-active: rgba(166, 135, 232, .8);
    --btn-main-c: rgba(255, 255, 255, .9);

    --txt-on-bg-c: rgba(255, 255, 255, 0.7);
    --txt-on-bg-c-2: rgba(255, 255, 255, 0.85);

    --nav-cat-bg: rgb(43, 58, 101);
    --nav-cat-bg-hl: rgb(113, 43, 145);
    --nav-cat-bg-hover: rgb(120, 50, 153);

    --nav-sub-bg: rgb(72, 39, 102);
    --nav-sub-bg-hl: rgb(94, 52, 133);
    --nav-sub-bg-hover: rgb(116, 67, 161);

    --nav-head-bg: rgb(72, 39, 102);
    --nav-head-bg-hl: rgb(94, 52, 133);
    --nav-head-bg-hover: rgb(116, 67, 161);

    --nav-content-hover: rgb(177, 97, 218);

    --ff: 'Arial', Helvetica, sans-serif;

    --btn-c-bg: rgb(158, 81, 197);
    --btn-c-bg-hover: rgb(177, 97, 218);

    --tcaption-bg: rgb(255, 255, 255);
    --thead-bg: rgb(236, 232, 255);
    --trow-bg: rgb(255, 255, 255);
    --trow-bg-alt: rgb(255, 255, 255);
    --trow-bg-hover: rgb(220, 211, 255);

    --link-c: rgb(72, 39, 102);
    --lhover: rgb(158, 81, 197);

    --badge-size: .55rem;
    --badge-c: rgb(255, 255, 255);
    --badge-bg: rgb(158, 81, 197);

    --bborder: rgb(218, 218, 218);
}
